$base-font-style:   normal;
$base-font-weight:  400;
$base-font-size:    1em;
$base-line-height:  1;
$base-font-family:  $open-sans;
$base-font-color:   black;

body {
  font: $base-font-style $base-font-weight $base-font-size/$base-line-height $base-font-family;
  color: $base-font-color;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1em solid black;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;

  a {
    border-bottom: none;
  }
}

p {
  margin-top: 0;
  line-height: 1.5;
}
