.events--aside {
  position: absolute;
  top: -18em;
  width: 100%;
  display: none;
  z-index: 1;

  @include respond-to('gamma') {
    display: block;
  }
}

.events__year {
  float: left;
  padding: 0.4em 0.7em 0.2em;
  font-family: $pt-mono;
  color: white;
  background-color: black;
}

.events__calendar {
  float: left;
  width: 100%;
}

.calendar__gutter {
  display: none;

  @include respond-to('alpha') {
    width: 4%;
    display: block;
  }

  @include respond-to('beta') {
    width: 2%;
  }
}

.event {
  width: 100%;
  padding-bottom: 1.5em;

  @include respond-to('alpha') {
    width: 48%;
  }

  @include respond-to('beta') {
    width: 32%;
  }

  @include respond-to('gamma') {
    width: 23.5%;
  }
}

.event__meta {
  margin-bottom: 1.3em;
  font-family: $pt-mono;
  line-height: 1.4;
}

.event__description {
  margin-bottom: 1.3em;
}
