.social {
  padding: 0;
  margin: 0;
  font-family: $pt-mono;
  vertical-align: middle;
  list-style: none;

  li a {
    border-bottom: none;
  }
}

.social--horizontal {
  display: inline-block;

  li {
    float: left;

    &::before {
      margin: 0 0.6em;
      content: '//';
    }
  }

  li:first-child::before {
    margin-right: 0;
    margin-left: 0;
    content: none;
  }
}
