main {
  position: relative;
  width: 92%;
  max-width: 63.1em;
  margin: 0 auto;

  article {
    border-top: 0.2em solid black;
  }
}

.content--aside {
  max-width: 36.3em;
  margin: 0 auto;

  @include respond-to('beta') {
    position: absolute;
    top: -15.5em;
    width: 32%;
    z-index: 1;
  }
}
