.made-with {
  width: 92%;
  margin: 13vh auto 1em;
  font-family: $pt-mono;
  font-size: 0.7em;
  color: $silver-sand;
  text-align: center;

  a {
    border-bottom: none;
  }
}

.fa-heart {
  color: $flamingo;

  a:hover & {
    color: rgba($flamingo, 0.6);
  }
}
