header {
  position: relative;
  width: 92%;
  margin: 13vh auto;
}

.header__band-name {
  margin-top: 0;
  margin-bottom: 0;
  font: normal 700 17vw/1 $oswald;
  color: $sherpa-blue;
  text-transform: uppercase;
}

.band-name__block {
  display: inherit;
}

.band-name__block--left-aligned {
  text-align: left;
}

.band-name__block--centered {
  text-align: center;
}

.band-name__block--right-aligned {
  text-align: right;
}

.band-name__block--hyphenated {
  position: relative;
}

// .band-name__block--hyphenated::after {
//   position: absolute;
//   top: 0.6em;
//   width: 0.8em;
//   height: 0.1em;
//   background-color: $sherpa-blue;
//   content: '';
// }

.header__button {
  position: absolute;
  top: -3vh;
  right: 0;
  z-index: 1;
  padding: 0.3em 0;
  font-size: 1.4em;
  text-transform: uppercase;
}
