$header-width:              92%;
$band-name-font-size-alpha: 17vw;
$band-name-font-size-beta:  9em;
$header-breakpoint-alpha:   ($band-name-font-size-beta/($band-name-font-size-alpha/100vw));

header {
  position: relative;
  width: $header-width;
  margin: 13vh auto;
}

.header__band-name {
  margin: 0 auto;
  font: 700 #{$band-name-font-size-alpha}/1 $oswald;
  color: $sherpa-blue;
  text-transform: uppercase;

  @media screen and (min-width: $header-breakpoint-alpha) {
    width: ($header-breakpoint-alpha*($header-width/100%)/($band-name-font-size-beta/1em));
    font-size: $band-name-font-size-beta;
  }
}

.band-name__block {
  display: inherit;
}

.band-name__block--left-aligned {
  text-align: left;
}

.band-name__block--centered {
  text-align: center;
}

.band-name__block--right-aligned {
  text-align: right;
}

.band-name__block--hyphenated {
  position: relative;
}

// .band-name__block--hyphenated::after {
//   position: absolute;
//   top: 0.6em;
//   width: 0.8em;
//   height: 0.1em;
//   background-color: $sherpa-blue;
//   content: '';
// }

.header__button {
  position: absolute;
  top: -3vh;
  right: 0;
  z-index: 1;
  padding: 0.3em 0;
  font-size: 1.4em;
  text-transform: uppercase;
}
