body.is-locked {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(white,0.98);
}

.overlay--slidedown {
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay--slidedown.is-opened {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}

.overlay__button {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
}

.overlay__footer {
  border-top: 0.2em solid black;
}
