body.is-locked {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  overflow-y: scroll;
  text-align: center;
  background-color: rgba(white, 0.99);
  -webkit-overflow-scrolling: touch;
}

.overlay--slidedown {
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;

  &.is-opened {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
  }
}

.overlay__main {
  min-height: 100%;
}

.overlay__button {
  padding: 1em;
  font-size: 1.4em;
  text-transform: uppercase;
}

.overlay__nav,
.overlay__footer {
  width: 92%;
  max-width: 36.3em;
  margin-right: auto;
  margin-left: auto
}

.overlay__nav {
  padding: 14vh 0 35vh;
}

.overlay__footer {
  padding-top: 0.6em;
  margin-top: -3.3em;
  line-height: 1;
  border-top: 0.2em solid black;
}
